.Support {

}

.Support__Title {
    text-align: left !important;
}

.Support__Subheader {
    line-height: 200% !important;
    width : fit-content;
}

@media (min-width:768px) {
    .Support {
        height: 400px;
    }
}