.Toolbar {
    position: fixed;
    background: #FFF;
    width: 100%;
    z-index: 1;
}

.Toolbar__Title {
    color : rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.Toolbar__Title strong {
    color : #7151FC;
    font-size: 2rem;
}

.Toolbar__Title:hover {
    color: rgba(0, 0, 0, 0.5);
}

.Toolbar__NavLink {
    margin-right: 10px;
    color : #333333;
}

.Toolbar__Menu {
    border-bottom: 3px solid transparent;
}

.Toolbar__Menu:hover {
    color: #7151FC !important;
    border-bottom: 2.5px solid #7151FC;
}

.Toolbar__Toggle__Btn {
    display: none !important;
    color : rgba(0, 0, 0, 0.5) !important;
}

@media (max-width:768px) {

    .ui.menu:not(.vertical) .left.menu,
    .ui.menu:not(.vertical) .right.menu {
        display: none;
    }

    .Toolbar__Toggle__Btn {
        display: initial !important;
        width: 100%;
    }

    .Toolbar__Title {
        margin-right: 20%;
    }

    .Toolbar__Toggle__Btn__Wrapper {
        position: absolute;
        right: 1rem;
        width: 20%;
    }

}