.Login {
    height: 400px;
}


.Login__Wrapper {
    margin : auto;
}

.Login__Wrapper h1 {
    color: #1f1f1f;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
}

.Login__Input__Wrapper {
    width: 80%;
    max-width: 400px;
    margin:  auto;
}

.Login__Input input{
    border: 0 !important;
}

.Login__Input input:focus {
    outline: 0 !important;
    box-shadow: 2px 0 0 3px #7151FC !important;
}

.ui.card.Login__Input__Token {
    width: 100%;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow : none !important;
}

.ui.card.Login__Input__Token h2 {
    overflow: hidden;
}

.cube.circular.inverted.link.icon {
    background: #7151FC !important;
}